
@{
    ViewBag.Title = "Search";
}

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="@Url.Action("AddOne")" class="w3-bar-item w3-button">Add one time to Queue</a>
    <a href="@Url.Action("AddMany")" class="w3-bar-item w3-button">Add Huge List of Items to Queue</a>
    <a href="@Url.Action("Display")" class="w3-bar-item w3-button">Display Queue</a>
    <a href="@Url.Action("Delete")" class="w3-bar-item w3-button">Delete from Queue</a>
    <a href="@Url.Action("Clear")" class="w3-bar-item w3-button">Clear Queue</a>
    <a href="@Url.Action("Search")" class="w3-bar-item w3-button">Search Queue</a>
    <a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to Main Menu</a>
    <br />
    <a href="https://youtu.be/kHDkZQ4LGZA">
        <img src="~/Graphics/BruceLee1.jpg" alt="Bruce Lee awesomeness" class="center" />
    </a>
</div>

<div style="margin-left:25%">

    <h2>Queue Display</h2>

    <p>@ViewBag.FoundResponse</p>

</div>


